<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
</head>

<body>
    <main>
        <div id="title">
            <img class="logo" src="img/logo.png">
            <br>
        </div>
        <span class="circle" id="circle1"></span>
        <span class="circle" id="circle2"></span>
        <form action="play">
            <button type="submit" class="circle">Play</button>
        </form>
        <span class="circle" id="circle4"></span>
        <span class="circle" id="circle5"></span>
        <p>
            <%= gamesInitialized %> 
                    <%if (gamesInitialized != 1) { %>
                        games
                    <% } else { %>
                        game
                    <% } %>
                    initialized, 
                    <%= gamesWonByA %> 
                    won by the codemaker, and 
                    <%= gamesWonByB %> 
                    won by the codebreaker. You've joined the game 
                    <%= count %> 
                    <%if (count != 1) { %>
                        times.
                    <% } else { %>
                        time.
                    <% } %>
        </p>
    </main>
</body>

</html>